@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Roboto:wght@100&display=swap');

html, body {
    margin: 0;
    margin-right: 7%;
    margin-left: 7%;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

.header {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Alkatra', cursive;
    position: sticky;
}

.navList {
    font-family: 'Alkatra', cursive;
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: rgba(255,218,0,1);
}

nav {
    height: 50px;
    background-color: black;
    display: flex;
    margin-bottom: 15px;
    border-radius: 10px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    padding: 0;
    display: inline-block;
    text-align: center;
    flex: 1;
    border-radius: 10px;

}

ol {
    display: inline-block;
    text-align: center;
}

.gif img {
    height: auto;
    max-width: 20%;
    border: 5px solid rgb(129, 127, 113);
    border-radius: 400px;
}

body{
    background: rgb(2,0,36);
    background: cornsilk;
    font-family: 'Alkatra', cursive;
    text-align: center;
}

article img {
    display: inline-block;
    height: auto;
    max-width: 50%;
    vertical-align: top;
    margin-right: 20px;
    height: auto;
    box-sizing: border-box;
    border-radius: 100px;
}
  
article p {
    display: inline-block;
    text-align: left;
    width: 45%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-height: 400px;
    width: auto;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 100%;
    overflow: auto;
}

aside ul, aside ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

input[name="searchbar"] {
    max-width: 90%;
}

form {
    display: flex;
    flex-direction: column;
}
  
.forum {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
  
label {
    margin-bottom: 5px;
}
  
input[type="text"],
textarea {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    resize: none;
}

input[name="name"],
input[name="email"] {
  width: 200px;
  height: 30px;
}

button[type="submit"] {
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgb(102, 101, 90);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
  
button[type="submit"]:hover {
    background-color: rgb(70, 69, 61);
}